* {
    background-color: rgb(161, 161, 170);
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0;   
}

div {
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
}

main {
    margin: 0;
    
}

#info {
    color: blue;
}

.enter-intitials {
    color: blue;
}

#submit-btn {
    color: blue;
    padding-top: 5px;
    padding-bottom: 5px;
}


.quiz-header {
    text-align: center;
    text-decoration: none;
    position: relative;
    font-size: x-large;
    text-decoration: underline;
    color: white;
    background-color: blue;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.begin-button {
    margin-top: 10px;
    margin-bottom: 20px;
    position: absolute;
    left: 47%;
    font-size: 20px;
    font-weight: 400;
    color: mediumblue;
    border-radius: 5px;
}

#quiz-rules {
    text-align: center;
    margin-top: 10px;
    
}

#rules-list {
    margin-top: 60px;
    list-style-type: none;
}

.quiz-box {
    position: absolute;
    margin-top: 8%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    border-radius: 10px;
    border: 5px solid blue;
    padding: 25px;
}

.quiz-box .timer {
    color: red;
    border: 3px solid black;
    border-radius: 5px;
}

#results {
    color: blue;
    margin-bottom: 50px;
}

.results-are {
    color: blue;
}

.quiz-box header {
    height: 90px;
    display: flex;
    margin-left: 450px;
    align-items: center;
    justify-content: space-between;
}

.question {
    text-align: left;
}

.question-text {
    font-size: x-large;
    text-decoration: underline;
    color: blue;
}


.multiple-choices {
    margin-right: 381px;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.choice {
    color: blue; 

}

button:hover {
    border: 3px solid blue;
    cursor: pointer;
}

input:hover {
    border: 3px solid blue;
    cursor: pointer;
}

#info {
    margin-left: 450px;
}

#next-btn {
    margin: 15px;
    border-radius: 5px;
    font-size: large;
    color: blue;
}


